
:root{
    --cor-de-fundo: #F5F5F5;
    --color-titulos: #464646;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    overflow:visible ;
    
}

/*----------------------------------------------------------------------*/
/*Sección cabecera*/

.cabecera {
    margin: 0rem;
    padding: 1.6rem 10.8rem;
    display: flex;
    position: sticky;
    background: #F5F5F5;
    top: 0rem;
}

.segundo-apellido {
    display: inline;
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
}

.barra-navegacion ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.item-menu-contacto-separado {
    display: none;
}

/*----------------------------------------------------------------------*/
/*Sección título*/

.titulo {
    padding-left: 10.8rem;
    padding-right: 10.8rem;
    margin: 0;
}

.titulo-divisor {
    justify-content: space-between;
    align-items: center;
}

.titulo-contenedor {
    width: 47vw;
}

.titulo-biografia{
    font-size: 5.2rem;
}

.titulo-descripcion{
    font-size: 2.2rem;
}

.titulo-redes{
    font-size: 1.6rem;
    font-weight:lighter;
}

.titulo-perfil {
    box-sizing: initial;
    width: 30vw;
    height: fit-content;
}

/*----------------------------------------------------------------------*/

.acerca {
    padding-left: 10.8rem;
    padding-right: 10.8rem;
}

.acerca-titulo {
    font-size: 3.2rem;
}

/*----------------------------------------------------------------------*/
.skills {
    margin-left: 10.8rem;
    margin-right: 10.8rem;
}

.skills-titulo {
    font-size: 3.2rem;
}

.skills-caja {
    width: 11vw;
    transition: 0.3s all;
}

.skills-caja:hover {
    transform: scale(1.1);
}

.skills-caja:nth-child(1) {
    margin-left: 0rem;
}

.skills-caja:nth-child(6) {
    margin-right: 0rem;
}

/*----------------------------------------------------------------------*/

.hobbies {
    margin-left: 10.8rem;
    margin-right: 10.8rem;
    margin-bottom: 4.1rem;
}

.hobbies-titulo {
    font-size: 3.2rem;
}

.hobbies-caja {
    width: 11vw;
    transition: 0.3s all;
}

.hobbies-caja:hover {
    transform: scale(1.1);
}

.hobbies-caja:nth-child(2n+1) {
    margin-right: 0.8rem;
}

.hobbies-caja:nth-child(2n) {
    margin-left: 0.8rem;
}

/*----------------------------------------------------------------------*/

.formacion {
    padding-left: 10.8rem;
    padding-right: 10.8rem;
    padding-bottom: 8.2rem;
    padding-top: 8.2rem;
}

.formacion-parrilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
}

.formacion-titulo {
    font-size: 3.2rem;
}

.formacion-contenido{
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    box-shadow: 1px 1px 2px 1px var(--color-titulos);
}

.formacion-caja:hover .formacion-contenido {
    transform: rotateY(180deg);
    box-shadow: -1px 1px 2px 1px var(--color-titulos);
}

.formacion-imagen-delante {
    position: absolute;
    backface-visibility: hidden;
}

.formacion-imagen-atras {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    background: white;
}

.formacion-imagen {
    height: 28.6rem;
}

.formacion-imagen img {
    width: 15rem;
    height: auto;
}

.formacion-caja-titulo h4{
    font-size: 2.2rem;
}

.formacion-imagen-atras {
    padding: 1vw;
}

/*----------------------------------------------------------------------*/

.experiencia {
    padding-left: 10.8rem;
    padding-right: 10.8rem;
}

.experiencia-titulo {
    font-size: 3.2rem;
}

.experiencia-caja {
    display:flex;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.experiencia-caja:nth-child(2n+1){
    flex-direction: row-reverse;
    justify-content: space-between;
}

.experiencia .experiencia-caja:nth-child(2n+1) .experiencia-informacion {
    margin-left: 0;
}

.experiencia-imagen{
    width: 56vw;
    transition: 0.5s all;
}

.experiencia-imagen:hover {
    transform: scale(1.03);
}

.experiencia-informacion {
    width: 19vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
}

.experiencia-boton-repositorio {
    --color: #2A7AE4;
    padding: 1.1rem;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    font-weight: 400;
    border: 1px solid;
    color: var(--color);
    z-index: 1;
}
   
.experiencia-boton-repositorio::before, .experiencia-boton-repositorio::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-60%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.experiencia-boton-repositorio::before {
    top: -1em;
    left: -1em;
}
   
.experiencia-boton-repositorio::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.experiencia-boton-repositorio:hover::before, .experiencia-boton-repositorio:hover::after {
    height: 410px;
    width: 410px;
}
   
.experiencia-boton-repositorio:hover {
    color: white;
}
   
.experiencia-boton-repositorio:active {
    filter: brightness(.8);
    transform: scale(1.1);
}

.experiencia-boton-demo {
    --color: #2A7AE4;
    padding: 1.1rem;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    font-weight: 400;
    border: 1px solid;
    color: var(--color);
    z-index: 1;
}
   
.experiencia-boton-demo::before, .experiencia-boton-demo::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-60%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.experiencia-boton-demo::before {
    top: -1em;
    left: -1em;
}
   
.experiencia-boton-demo::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.experiencia-boton-demo:hover::before, .experiencia-boton-demo:hover::after {
    height: 410px;
    width: 410px;
}
   
.experiencia-boton-demo:hover {
    color: white;
}
   
.experiencia-boton-demo:active {
    filter: brightness(.8);
    transform: scale(1.1);
}

/*-------------------------------------------------------------------------*/

.formulario {
    padding: 10.8rem;
}

.formulario-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario-texto {
    display: inline;
    width: 55%;
}

.formulario-input {
    font-size: 1.2rem;
    color: black;
}

.formulario-titulo {
    font-size: 3.2rem;
}

/*.formulario-imagen-contenedor {
    display: inline;
    width: 43%;
}

.formulario-imagen-contenedor > img {
    width: 100%;
    height: 54.6rem;
}*/

.image-phone-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-imagen-phone {
    width: 197px;
    height: 331px;
    overflow: hidden;
    background-color: black;
    border: 3px solid rgb(66, 250, 158);
    border-radius: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 22px;
    transition: all 1s ease;
    color: antiquewhite;
}
  
.formulario-imagen-phone::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    right: 87px;
    border-radius: 50%;
    background-color: rgb(17, 4, 94);
}

.wallpaper-phone {
    height: 100%;
    width: 100%;
    background-image: url(../assets/wallpaper.jpg);
    background-position: center;
    background-size: cover;
}
  
.card__date {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 1rem;
}
  
.time {
    margin-left: 0.5rem;
    font-size: 3rem;
}
  
.popup {
    background-color: #444746;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 3px;
    padding-left: 10px;
    margin-left: 0px;
}
  
.popup .title {
    font-size: 1.3rem;
    color: #9cbde2;
}
  
.wallpaper-phone {
    opacity: 0;
    transition: all .5s ease;
}
  
.formulario-imagen-phone:hover {
    transform: rotate3d(5, 5, 10, -45deg);
}
  
.formulario-imagen-phone:hover .wallpaper-phone{
    opacity: 1;
}

.formulario-enviar {
    --color: #2A7AE4;
    padding: 1.1rem;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    font-weight: 400;
    border: 1px solid;
    color: var(--color);
    z-index: 1;
}
   
.formulario-datos .formulario-enviar::before, .formulario-datos .formulario-enviar::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-60%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.formulario-datos .formulario-enviar::before {
    top: -1em;
    left: -1em;
}

.formulario-datos .formulario-enviar::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.formulario-datos .formulario-enviar:hover::before, .formulario-enviar:hover::after {
    height: 410px;
    width: 410px;
}
   
.formulario-datos .formulario-enviar:hover {
    color: white;
}
   
.formulario-datos .formulario-enviar:active {
    filter: brightness(.8);
    transform: scale(1.1);
}
