:root{
    --cor-de-fundo: #F5F5F5;
    --colot-titulos: #464646;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

/*---------------------------------------------------------------------*/

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    box-shadow: darkgray;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*----------------------------------------------------------------------*/
                    /*Cabecera*/

.cabecera {
    margin: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nombre-portafolio {
    display: flex;
    font-size: 1.6rem;
}

.primer-apellido , .segundo-apellido{
    display: none;
}

.img-perfil {
    width: auto;
    height:100%;
}

.mi-nombre {
    font-size: 1.4rem;
}

.barra-navegacion {
    font-size: 1.4rem;
}

.item-contenedor {
    display: none;
}

.item-menu a {
    font-size: 1.4rem;
}

.item-menu a:hover {
    color: #2A7AE4;
}

.item-menu-contacto-separado {
    display: inline;
}

/*------------------------------------------------------------------------------*/
main {
    z-index: 1;
}

.titulo {
    box-sizing: border-box;
    padding: 1.6rem;
    background-image: url(../assets/banner3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.titulo-perfil {
    box-sizing: initial;
    width: 33vw;
    border-radius: 50%;
}

.titulo-biografia{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
    text-align: start;
    line-height: 1.5;
}

.titulo-descripcion{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    color:  #464646;
    font-weight:lighter;
    text-align: justify;
    line-height: 1.5;
}

.titulo-redes{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bolder;
}
/*--------------------------------------------------------------------------------*/

.acerca {
    box-sizing: border-box;
    padding: 1.6rem;
    background: #EAF2FD;
}

.acerca-titulo {
    font-size: 2.2rem;
    font-weight: bold;
    color: #464646;
}

.acerca-parrafo {
    box-sizing: border-box;
    margin-top: 1.6rem;
    color: #464646;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.5;
}

/*---------------------------------------------------------------------------------*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-titulo {
    margin: 1.6rem;
    font-size: 2.2rem;
    flex-grow: 1;
    color: #464646;
}

.skills-parrilla {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.skills-caja {
    display: flex;
    justify-content: start;
    align-items: end;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 1.6rem;
    width: 30vw;
    height: 11.8rem;
    background: white;
    box-shadow: 0px 3px 3px #464646;
}

.skills-caja:nth-child(2n+1) {
    margin-right: 0.8rem;
}

.skills-caja:nth-child(2n) {
    margin-left: 0.8rem;
}

.skills-python {
    width: 3.2rem;
    height: 3.2rem;
}

.skills-caja ul {
    margin: 1.6rem;
}

.skills-nombre {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

/*-------------------------------------------------------------------------*/

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies-titulo {
    margin: 1.6rem;
    font-size: 2.2rem;
    flex-grow: 1;
    color: #464646;
}

.hobbies-parrilla {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.hobbies-caja {
    display: flex;
    justify-content: start;
    align-items: end;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 1.6rem;
    width: 30vw;
    height: 11.8rem;
    background: white;
    box-shadow: 0px 3px 3px #464646;
}

.hobbies-caja:nth-child(2n+1) {
    margin-right: 0.8rem;
}

.hobbies-caja:nth-child(2n) {
    margin-left: 0.8rem;
}

.hobbies-caja ul {
    margin: 1.6rem;
}

.hobbies-nombre {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.hobbies-salir {
    width: 3.2rem;
    height: 3.2rem;
}

/*----------------------------------------------------------------------------------*/

.formacion {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #EAF2FD;
}

.formacion-titulo {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

.formacion-parrilla {
    width: 100%;
}

.formacion-caja {
    margin-top: 16px;
    width: 100%;
}

.formacion-contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.formacion-imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 11.8rem;
    align-content: center;
    background: white;
}

.formacion-imagen img {
    width: 7rem;
    height:auto;
}

.formacion-caja-titulo {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    color: #464646;
}

.formacion-caja-subtitulo {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    color: #464646;
}

/*-------------------------------------------------------------------------------------*/

.experiencia {
    box-sizing: border-box;
    padding: 3.2rem;
    padding-bottom: 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #F5F5F5;
}

.experiencia-caja {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.experiencia-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

        /*Ocultas 2 cajas*/
.experiencia-caja:nth-child(n+4) {
    display: none;

}

.experiencia-imagen{
    margin-top: 3.2rem;
}

.experiencia-informacion {
    margin-bottom: 3.2rem;
}

.experiencia-caja-titulo {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    color: #464646;
}

.experiencia-caja-texto {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.experiencia-boton-repositorio {
    box-sizing: border-box;
    padding: 1rem;
    color: #2A7AE4;
    border: 1.1px solid #2A7AE4;
    background: inherit;
}

.experiencia-boton-demo {
    box-sizing: border-box;
    margin-left: 1.6rem;
    padding: 1.1rem;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: white;
}

/*----------------------------------------------------------------------------------------*/

.formulario{
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #EAF2FD;
}

.formulario-contenedor {
    width: 100%;
}

.formulario-titulo {
    text-align: start;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

.formulario-pregunta {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.formulario-indicaciones {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.formulario-imagen-contenedor {
    display: none;
}

.image-phone-container {
    display: none;
}

.pregunta-contenedor {
    background-color: white;
    position: relative;
    margin-bottom: 2.2rem;
    cursor:text;
}

.label-campo{
    box-sizing: border-box;
    padding-top: 0.4rem;
    position: absolute;
    top: 8px;
    left: 0px;
    height: auto;
    width: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    color: #A2A2A2;
    transition: all 0.25s;
    cursor:text;
}

.formulario-input {
    width: 100%;
    height: 4.2rem;
    padding-left: 0.8rem;
    padding-top: 1.3rem;
    font-family: 'Raleway';
    background: white;
    cursor:text;
}

.formulario-input::placeholder {
    color: #A2A2A2;
}

.formulario-input:focus {
    outline: none;
    border-bottom: 1px;
    border-color: #2A7AE4;
}

.formulario-input:not(:placeholder-shown) + .label-campo,
.formulario-input:focus + .label-campo {
  font-size: 1.1rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.formulario-area {
    width: 100%;
    height: 13.3rem;
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1.6rem;
    resize: none;
    font-family: "Raleway";
}

.formulario-area::placeholder {
    font-family: 'Raleway';
    color: #A2A2A2;
}

.formulario-area:focus{
    outline: none;
}

.formulario-enviar {
    top: 1rem;
    box-sizing: border-box;
    padding: 1.1rem;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: white;
}

/*----------------------------------------------------------------------------------------*/

.pie {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    z-index: 1;
}

.pie > p {
    display: inline;
    margin: 3.2rem;
}

/*-------------------------------------------------------------------------*/



.input-message-error {
    font-size: 1.2rem;
    color: red;
    font-family: inherit;
    position: absolute;
    left:0px;
    top: 4.2rem;
}

.input-container-invalid {
    border: 1px solid red;
}

.input-container-valid {
    border: 1px solid green;
}

.input-area-error {
    position: absolute;
    top: 15.1rem;
}
