:root{
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

/*---------------------------------------------------------------------*/

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    box-shadow: darkgray;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*----------------------------------------------------------------------*/

.cabecera {
    margin: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera .nombre-portafolio {
    display: flex;
    font-size: 1.6rem;
}

.cabecera .nombre-portafolio > img {
    width: auto;
    height:100%;
}

.cabecera .nombre-portafolio > h3 {
    font-size: 1.4rem;
}

.cabecera .barra-navegacion {
    font-size: 1.4rem;
}

.cabecera .barra-navegacion ul {
    display: none;
}

.cabecera .barra-navegacion .item-menu a {
    font-size: 1.4rem;
}

/*------------------------------------------------------------------------------*/

.titulo {
    box-sizing: border-box;
    padding: 1.6rem;
    background-image: url(../assets/banner3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.titulo .titulo-divisor .titulo-perfil {
    box-sizing: initial;
    width: 33vw;
    border-radius: 50%;
}

.titulo .titulo-divisor .titulo-contenedor .titulo-biografia{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
    text-align: start;
}

.titulo .titulo-divisor .titulo-contenedor .titulo-descripcion{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    color:  #464646;
    font-weight:lighter;
    text-align: justify;
}

.titulo .titulo-divisor .titulo-contenedor .titulo-redes{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bolder;
}
/*--------------------------------------------------------------------------------*/

.acerca {
    box-sizing: border-box;
    padding: 1.6rem;
    background: #EAF2FD;
}

.acerca .acerca-contenedor .acerca-titulo {
    font-size: 2.2rem;
    font-weight: bold;
    color: #464646;
}

.acerca .acerca-contenedor .acerca-parrafo {
    box-sizing: border-box;
    margin-top: 1.6rem;
    color: #464646;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    text-align: justify;
}

/*---------------------------------------------------------------------------------*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .skills-titulo {
    margin: 1.6rem;
    font-size: 2.2rem;
    flex-grow: 1;
    color: #464646;
}

.skills .skills-parrilla {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.skills .skills-parrilla .skills-caja {
    display: flex;
    justify-content: start;
    align-items: end;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 1.6rem;
    width: 30vw;
    height: 11.8rem;
    background: white;
    box-shadow: 0px 3px 3px #464646;
}

.skills .skills-parrilla .skills-caja:nth-child(2n+1) {
    margin-right: 0.8rem;
}

.skills .skills-parrilla .skills-caja:nth-child(2n) {
    margin-left: 0.8rem;
}

.skills .skills-parrilla .skills-caja ul .skills-imagen .skills-python {
    width: 3.2rem;
    height: 3.2rem;
}

.skills .skills-parrilla .skills-caja ul {
    margin: 1.6rem;
}

.skills .skills-parrilla .skills-caja ul .skills-nombre {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

/*-------------------------------------------------------------------------*/

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies .hobbies-titulo {
    margin: 1.6rem;
    font-size: 2.2rem;
    flex-grow: 1;
    color: #464646;
}

.hobbies .hobbies-parrilla {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.hobbies .hobbies-parrilla .hobbies-caja {
    display: flex;
    justify-content: start;
    align-items: end;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 1.6rem;
    width: 30vw;
    height: 11.8rem;
    background: white;
    box-shadow: 0px 3px 3px #464646;
}

.hobbies .hobbies-parrilla .hobbies-caja:nth-child(2n+1) {
    margin-right: 0.8rem;
}

.hobbies .hobbies-parrilla .hobbies-caja:nth-child(2n) {
    margin-left: 0.8rem;
}

.hobbies .hobbies-parrilla .hobbies-caja ul {
    margin: 1.6rem;
}

.hobbies .hobbies-parrilla .hobbies-caja ul .hobbies-nombre {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.hobbies .hobbies-parrilla .hobbies-caja ul .hobbies-imagen .hobbies-salir {
    width: 3.2rem;
    height: 3.2rem;
}

/*----------------------------------------------------------------------------------*/

.formacion {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #EAF2FD;
}

.formacion .formacion-titulo {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

.formacion .formacion-parrilla {
    width: 100%;
}

.formacion .formacion-parrilla .formacion-caja {
    margin-top: 16px;
    width: 100%;
}

.formacion .formacion-parrilla .formacion-caja .formacion-contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.formacion .formacion-parrilla .formacion-caja .formacion-contenido .formacion-imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 11.8rem;
    align-content: center;
    background: white;
}

.formacion .formacion-parrilla .formacion-caja .formacion-contenido .formacion-imagen img {
    width: 7rem;
    height:auto;
}

.formacion .formacion-parrilla .formacion-caja .formacion-contenido .formacion-caja-titulo {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    color: #464646;
}

.formacion .formacion-parrilla .formacion-caja .formacion-contenido .formacion-caja-subtitulo {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    color: #464646;
}

/*-------------------------------------------------------------------------------------*/

.experiencia {
    box-sizing: border-box;
    padding: 3.2rem;
    padding-bottom: 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #F5F5F5;
}

.experiencia .experiencia-caja {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.experiencia .experiencia-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

        /*Ocultas 3 cajas*/
.experiencia .experiencia-caja:nth-child(n+3) {
    display: none;

}

.experiencia .experiencia-caja .experiencia-imagen{
    margin-top: 3.2rem;
}

.experiencia .experiencia-caja .experiencia-informacion {
    margin-bottom: 3.2rem;
}

.experiencia .experiencia-caja .experiencia-informacion .experiencia-caja-titulo {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    color: #464646;
}

.experiencia .experiencia-caja .experiencia-informacion .experiencia-caja-texto {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.experiencia .experiencia-caja .experiencia-informacion .experiencia-descripcion .experiencia-repositorio .experiencia-boton-repositorio {
    box-sizing: border-box;
    padding: 1rem;
    color: #2A7AE4;
    border: 1.1px solid #2A7AE4;
    background: inherit;
}

.experiencia .experiencia-caja .experiencia-informacion .experiencia-descripcion .experiencia-demo .experiencia-boton-demo {
    box-sizing: border-box;
    margin-left: 1.6rem;
    padding: 1.1rem;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: white;
}

/*----------------------------------------------------------------------------------------*/

.formulario{
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background: #EAF2FD;
}

.formulario .formulario-contenedor {
    width: 100%;
}

.formulario .formulario-contenedor .formulario-texto .formulario-titulo {
    text-align: start;
    font-size: 2.2rem;
    color: #464646;
    flex-grow: 1;
}

.formulario .formulario-contenedor .formulario-texto .formulario-pregunta {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.formulario .formulario-contenedor .formulario-texto .formulario-indicaciones {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #464646;
}

.formulario .formulario-contenedor .formulario-imagen-contenedor {
    display: none;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .formulario-input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: 'Raleway';
    color: #A2A2A2;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .span-nombre {
    box-sizing: border-box;
    display: flex;
    padding-top: 0.8rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    height: auto;
    flex-direction: column;
    width: 100%;
    background: white;
    font-size: 1.2rem;
    color: #A2A2A2;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .span-nombre .formulario-input {
    margin: 0px;
    padding: 0rem;
    color: black;
    padding: 0.8rem;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .span-email {
    box-sizing: border-box;
    display: flex;
    padding-top: 0.8rem;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    height: auto;
    flex-direction: column;
    width: 100%;
    background: white;
    font-size: 1.2rem;
    color: #A2A2A2;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .span-email .formulario-input {
    margin: 0px;
    padding: 0rem;
    color: black;
    padding: 0.8rem;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .formulario-area {
    width: 100%;
    height: 13.3rem;
    padding: 0.8rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    resize: none;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .formulario-area::placeholder {
    font-family: 'Raleway';
    color: #A2A2A2;
}

.formulario .formulario-contenedor .formulario-texto .formulario-datos .formulario-enviar {
    box-sizing: border-box;
    padding: 1.1rem;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: white;
}

/*----------------------------------------------------------------------------------------*/

.pie {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

.pie > p {
    display: inline;
    margin: 3.2rem;
}

/*-------------------------------------------------------------------------*/



